body,
html {
  width: 99vw;
  font-family: 'Josefin', sans-serif;
  overflow-x: hidden;
}

.navbar{
  box-shadow: 4px 2px 5px -1px rgba(0,0,0,0.41);
}

.nav-link-activo{
  color: #6ED2AE; 
  font-weight: bold;
}


.contenido{
  border-top: 1px solid #411B1B;
  height:110vh;
  width: 99vw;
  display: flex;
  background-color: #EEEEEE;
}

.contenido-categoria{
  border-top: 1px solid #411B1B;
  height:160vh;
  width: 99vw;
  display: flex;
  background-color: #EEEEEE;
}


.contenido-carrito{
  border-top: 1px solid #411B1B;
  height:110vh;
  width: 99vw;
  display: flex;
  background-color: #EEEEEE;
}





.fondo{
  height: 60vh;
  background-image:url("https://cdn2.hubspot.net/hubfs/3993861/ecommerce-alimentacion.png");
  box-shadow: 4px 2px 5px -1px rgba(0,0,0,0.41);
  display: flex;
  justify-content: center;
  opacity: 0.85;
}


.mensaje{
display: flex;
color: black;
background-color: white;
padding: 2%;
border-radius: 40px;
width: 35vw;
height: 15vh;
align-self: center;
font-family: "Josefin";
font-style: italic;
font-size: 4em;
font-weight: bold;
justify-content: center;
align-items: center;
box-shadow: 4px 2px 5px -1px rgba(0,0,0,0.41);
}

.contenedor{
  height: 110vh;
}

.contenedor-categoria{
  width: 160vw;
}

.titulo-categoria{
margin-top: 5vh;
font-family: "Josefin Sans";
font-weight: bolder;
text-align: center;
align-self: center;
}

.contenedor-productos{
  display: flex;
  height: 60vh;
  width: 85vw;
  align-content: center;
  justify-content: center;
}

.contenedor-productos-categoria{
  display: flex;
  height: 50vh;
  width: 90vw;
  align-content: center;
  justify-content: center;
}

.contenedor-carrito{
  display: flex;
  height: 80vh;
  width: 90vw;
  align-content: center;
  justify-content: center;
  margin: 5vh;
  flex-direction: column;
}

.producto-carrito{
  width: 100%;
  height: 25%;
  background-color: white;
  margin-bottom: 2vh;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-content: center;
  border-bottom: 2px rgba(0,0,0,0.8) solid;
}


.foto-producto{
  height: 150px;
  width: 150px;
  align-self: center;
  object-fit: contain;
  margin-right: 5%;
  margin-left: 2%;
}


.descripcion-producto{
  font-size: 1.6em;
  align-self: center;
  color: #6ED2AE;
  font-weight: bold;
  text-align: left;
  width: 10vw;
}

.precio-producto{
  display: flex;
  font-size: 1.6em;
  align-self: center;
  margin: 0vw 5vw 0vw 2vw;
  text-align: left;
  width: 10vw;
  justify-content: center;
}

.eliminar-producto{
  align-self: center;
  margin-left: 30vw;
}

.boton-eliminar{
  color: #D12222;
  background-color: white;
  font-size: 1.1em;
  border: #D12222 2px solid;
  padding: 2%;
  width: 8vw;
  height: 4vh;
  margin-left: auto;
  margin-right: 5vw;
  font-weight: bold;
}

.contenedor-finalizar{
  display: flex;
  color: black;
  width: 100%;  
  height: 20vh;
  flex-direction: row;
  border-bottom: 2px black solid;
}

.precio-finalizar{
  align-self: center;
  margin-left: auto;
  font-size: 1.3em;
}

.contenedor-titulo-finalizar{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-top: 4%;
  flex-direction: column;
}

.contenedor-boton-finalizar{
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.boton-finalizar{
  color: #6ED2AE;
  background-color: white;
  font-size: 1.1em;
  border: #6ED2AE 2px solid;
  padding: 2%;
  width: 10vw;
  height: 5vh;
  font-weight: bold;
  margin-right: 5%;
}

.boton-finalizar-no{
  color:#D12222;
  background-color: white;
  font-size: 1.1em;
  border: #D12222 2px solid;
  padding: 2%;
  width: 10vw;
  height: 5vh;
  margin-left: 5%;
  font-weight: bold;
  text-align: center;
}


.card{
  width: 20vw;
  height: 40vh;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
  border: none;
  border-radius: 40px;
  margin: 0% 5% 0% 5%;

}

.card-group > .card:not(:first-child){
  border-radius: 40px;
}

.card-group > .card:not(:last-child) {
  border-radius: 40px;
}


.card-img-top{
 height: 20vh;
 width: 15vw;
 margin-left: auto;
 margin-right: auto;
 align-content: center;
 justify-content: center;
 border-radius: 60px;
 object-fit: contain;
}

.card-group > .card:not(:last-child) .card-header, .card-group > .card:not(:last-child) .card-img-top{
  border-radius: 60px;
}

card-group > .card:not(:first-child) .card-header, .card-group > .card:not(:first-child) .card-img-top {
  border-radius: 60px;
}

.card-title{
  margin-bottom: 5%;
  font-family: "Josefin";
  font-size: 1.8em;
  font-weight: bold;
  color: #6ED2AE;
}

.card-precio{
  font-family: "Josefin";
  font-size: 2em;
  font-weight: bold;
}

.boton-añadir{
  padding: 4%;
  background-color: #411B1B;
  color: white;
  border-radius: 15px;
}


footer{
 background-color: #411B1B;
 height: 15vh;
 display: flex;
 flex-direction: row;
 box-shadow: 6px 7px 5px -1px rgba(0,0,0,0.41);
 border-top:rgba(255, 255, 255, 0.1) solid 2px;
}


.listaFooter{
  align-self: center;
  list-style-type: none;
  padding-right: 20px;
  border-right: 1px solid #8a8686;
  color: white;
}

.listaFooter a{
  color:white;
  text-decoration: none;
  font-family: "Josefin";
}

.contenidoFooter{
  margin-left: 20px;
  align-self: center;
  color: white;
  font-family: "Josefin";
}

.mb-5{
  margin: 0%;
}

.titulo-login{
  background-color: #411B1B;
  padding:5%;
  margin-bottom: 20%;
  margin-top: -20%;
  color: #F9F8F8;
  border-radius: 1em;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 1.5em;
}

.boton-login{
  background-color: #6ED2AE;
  padding:5%;
  width: 10vw;
  border:none;
  border-radius: 1em;
}