body,
html {
  font-family:monospace;
  transition: 0.6s;
}

:root{
  --bordo:#662211;
}

.navbar{
  background-color: var(--bordo);
  box-shadow: 4px 2px 5px -1px rgba(0,0,0,0.2);
  font-size: 1.3rem;
}

.navbar > a{
  font-size: 2rem;
  padding: 0.7rem;
}

.nav-link-activo{
  color: #6ED2AE; 
  font-weight: bold;
}


.contenedor{
  width: 70%;
  margin: 0 auto;
}

.contenido{
  border-top: 1px solid var(--bordo);
  display: flex;
  background-color: #EEEEEE;
}

#barraLateral{
  background-color: var(--bordo); 
  padding: 2em;
}

#barraLateral > ul>li{
  text-align: start;
  font-size: 1.3rem;
  padding: 0.8em 0.8em 0.8em 0em;
  margin-bottom: 3%;
}



.contenido-categoria{
  border-top: 1px solid var(--bordo);
  display: flex;
  background-color: #EEEEEE;
}


.contenedor-categoria{
  width: 70%;
  margin: 0 auto;
}

.contenido-carrito{
  border-top: 1px solid var(--bordo);
  height:110vh;
  width: 100%;
  display: flex;
  background-color: #EEEEEE;
}


.fondo{
  height: 40vh;
  background-image: url(https://cdn.pixabay.com/photo/2020/05/25/05/48/shopping-5217035_960_720.png);
  object-fit: cover;
  box-shadow: 4px 2px 5px -1px rgba(0,0,0,0.41);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.85;
  margin-bottom: 10%;
  margin-top: 5%;
  border-radius: 60px;
}


.mensaje{
  color: black;
  background-color: white;
  border-radius: 40px;
  align-self: center;
  font-size: 2.2rem;
  padding: 1em;
  text-align: center;
  font-weight: bold;
  box-shadow: 4px 2px 5px -1px rgba(0,0,0,0.41);
  min-width: 60%;
  }




.titulo-categoria{
margin: 5vh 0vh 5vh 0vh;
font-weight: bolder;
text-align: center;
align-self: center;
}

.contenedor-productos{
  display: flex;
  align-content: center;
  justify-content: center;
  align-self: center;
  max-width: 1200px;
}

.contenedor-productos-categoria{
  display: flex;
  align-content: center;
  justify-content: center;
}

.contenedor-carrito{
  display: flex;
  height: 80vh;
  width: 90vw;
  align-content: center;
  justify-content: center;
  margin: 5vh;
  flex-direction: column;
}

.producto-carrito{
  width: 100%;
  height: 25%;
  background-color: white;
  margin-bottom: 2vh;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-content: center;
  border-bottom: 2px rgba(0,0,0,0.8) solid;
}


.foto-producto{
  height: 150px;
  width: 150px;
  align-self: center;
  object-fit: contain;
  margin-right: 5%;
  margin-left: 2%;
}


.descripcion-producto{
  font-size: 1.6em;
  align-self: center;
  color: #6ED2AE;
  font-weight: bold;
  text-align: left;
  width: 10vw;
}

.precio-producto{
  display: flex;
  font-size: 1.6em;
  align-self: center;
  margin: 0vw 5vw 0vw 2vw;
  text-align: left;
  width: 10vw;
  justify-content: center;
}

.eliminar-producto{
  align-self: center;
  margin-left: 30vw;
}

.boton-eliminar{
  color: #D12222;
  background-color: white;
  font-size: 1.1em;
  border: #D12222 2px solid;
  padding: 2%;
  width: 8vw;
  height: 4vh;
  margin-left: auto;
  margin-right: 5vw;
  font-weight: bold;
}

.contenedor-finalizar{
  display: flex;
  color: black;
  width: 100%;  
  height: 20vh;
  flex-direction: row;
  border-bottom: 2px black solid;
}

.precio-finalizar{
  align-self: center;
  margin-left: auto;
  font-size: 1.3em;
}

.contenedor-titulo-finalizar{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-top: 4%;
  flex-direction: column;
}

.contenedor-boton-finalizar{
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.boton-finalizar{
  color: #6ED2AE;
  background-color: white;
  font-size: 1.1em;
  border: #6ED2AE 2px solid;
  padding: 2%;
  width: 10vw;
  height: 5vh;
  font-weight: bold;
  margin-right: 5%;
}

.boton-finalizar-no{
  color:#D12222;
  background-color: white;
  font-size: 1.1em;
  border: #D12222 2px solid;
  padding: 2%;
  width: 10vw;
  height: 5vh;
  margin-left: 5%;
  font-weight: bold;
  text-align: center;
}

.card-group > .card:not(:first-child){
  border-radius: 40px;
}

.card-group > .card:not(:last-child) {
  border-radius: 40px;
}

.card-group{
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 5%;
  justify-content: center;
}

.card{
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
  border: none;
  border-radius: 40px;
  padding: 1em;
  min-width: 20%;
}

.card-group > .card{
  flex: none;
  flex: 0 0 26%;
  margin: 3%;
}

.card-group > .card + .card{
  margin-left: 3%;
}


.card-img-top{
 height: 20vh;
 max-width: 15vw;
 margin-left: auto;
 margin-right: auto;
 align-content: center;
 justify-content: center;
 border-radius: 60px;
 object-fit: contain;
}

.card-group > .card:not(:last-child) .card-header, .card-group > .card:not(:last-child) .card-img-top{
  border-radius: 60px;
}

card-group > .card:not(:first-child) .card-header, .card-group > .card:not(:first-child) .card-img-top {
  border-radius: 60px;
}

.card-title{
  margin-bottom: 5%;
  font-size: 2em;
  font-weight: bold;
  color: #6ED2AE;
}

.card-precio{
  font-size: 2em;
  font-weight: bold;
}

.boton-añadir{
  padding: 4%;
  background-color: var(--bordo);
  color: white;
  border-radius: 15px;
}


footer{
 background-color: var(--bordo);
 height: 15vh;
 display: flex;
 flex-direction: row;
 box-shadow: 6px 7px 5px -1px rgba(0,0,0,0.41);
 border-top:rgba(255, 255, 255, 0.1) solid 2px;
 font-size: 1.4rem;
}


.listaFooter{
  align-self: center;
  list-style-type: none;
  padding-right: 20px;
  border-right: 1px solid #8a8686;
  color: white;
}

.listaFooter a{
  color:white;
  text-decoration: none;
  font-family: "Josefin";
}

.contenidoFooter{
  margin-left: 20px;
  align-self: center;
  color: white;
  font-family: "Josefin";
}

.mb-5{
  margin: 0%;
}

.titulo-login{
  background-color: var(--bordo);
  padding:5%;
  margin-bottom: 20%;
  margin-top: -20%;
  color: #F9F8F8;
  border-radius: 1em;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 1.5em;
}

.boton-login{
  background-color: #6ED2AE;
  padding:5%;
  width: 10vw;
  border:none;
  border-radius: 1em;
}

#barraLateralMobile{
  display: none;
}

.divisor{
  color: white;
  border: 2px white solid;
}

@media (max-width:750px) {

      #barraLateral{
        display: none;
      }

      .fijo{
        position: fixed;
      }
      

      .displayNav{
        display: flex !important;
        z-index: 2;
      }

      #barraLateralMobile{
        position: fixed;
        margin-left: 50vw;
        background-color:var(--bordo);
        height: 50vh;
        width: 50vw;
        justify-self: end;
      }


      .listaMobile{
        text-decoration: none;
        list-style-type: none;
        color: white;
        padding: 5%;
        height: 20vh;
        z-index: 5;
      }

      .listaMobile > a{
        color: white;
        text-decoration: none;
      }
    
      nav > form{
        display: none;
      }

      .navbar-toggler{
        border: white 1px solid;
        padding: 3%;
        margin-right: 5%;
      }

      .navbar-dark .navbar-toggler{
        border: white 1px solid;
        color: white;
      }

      .navbar-toggler-icon{
        background-image: ;
      }

        .contenedor{
          width: auto;
        }

        .contenedor-categoria{
          width: auto;
          margin: 0 auto;
        }

        .contenido-categoria{
          width: auto;
          margin: 0 auto;
        }

        .contenido{
          border-top: 1px solid var(--bordo);
          display: flex;
          background-color: #EEEEEE;
        }
  
      .principal{
          background-color: #EEEEEE;
        }

        
      .fondo{
        padding: 10%;
        margin-bottom: 20%;
        background-size: cover;
      }

      .mensaje{
        font-size: 1.6rem;
        padding: 1em;
      }
      
    
        .contenedor-productos{
          width: 100vw;

        }
        
        .contenedor-productos-categoria{
          display: flex;
          align-content: center;
          justify-content: center;
        }
        
        .contenedor-carrito{
          display: flex;
          height: 80vh;
          width: 90vw;
          align-content: center;
          justify-content: center;
          margin: 5vh;
          flex-direction: column;
        }
        
        .producto-carrito{
          width: 100%;
          height: 25%;
          background-color: white;
          margin-bottom: 2vh;
          border-radius: 30px;
          display: flex;
          flex-direction: row;
          align-content: center;
          border-bottom: 2px rgba(0,0,0,0.8) solid;
        }
        
        
        .foto-producto{
          height: 80px;
          width: 80px;
          align-self: center;
          object-fit: contain;
          margin-right: 5%;
          margin-left: 2%;
        }
        
        
        .descripcion-producto{
          font-size: 1.3em;
          align-self: center;
          color: #6ED2AE;
          font-weight: bold;
          text-align: left;
        }
        
        .precio-producto{
          display: flex;
          font-size: 1.6em;
          align-self: center;
          margin: 0vw 5vw 0vw 2vw;
          text-align: left;
          width: 10vw;
          justify-content: center;
        }

        .card{
          width: 85%;
          box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
          border: none;
          border-radius: 40px;
        }

        .card-group{
          justify-content: center;
        }

        .card-group > .card{
          margin: 0 auto;
          margin-bottom: 15%;
        } 

        .card-group > .card + .card {
          margin: 0 auto;
          margin-bottom: 15%;
        }

        .card-img-top{
          height: 20vh;
          margin: auto;
          max-width: none;
        }
        
        footer{
          padding: 3em;
          height: 15%;
        }
}